.grid-container {
 display: grid;
 grid-template-columns: repeat(3, 300px);
 grid-gap: 10px;
 border: 1px solid; 
 padding-left: 30px;
}
.box{
  width: 300px;
  border: 1px solid;
}
.container{
  display: flex;
  width: 75%;
  flex: right;
  margin-top: 70px;
}

